In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType

In [5]:
spark = SparkSession.builder.appName("hdfs_test").getOrCreate()

In [13]:
files = ['channels', 'deliveries', 'drivers', 'hubs', 'orders', 'payments', 'stores']
dfs = {}

for file in files:
    dfs[file] = spark.read.csv("hdfs://localhost:9000/user/maciek/"+file+".csv", header=True, inferSchema=True)
    dfs[file].show(5)

+----------+------------+------------+
|channel_id|channel_name|channel_type|
+----------+------------+------------+
|         1| OTHER PLACE| OWN CHANNEL|
|         2| PHONE PLACE| OWN CHANNEL|
|         3| WHATS PLACE| OWN CHANNEL|
|         4|  FACE PLACE| OWN CHANNEL|
|         5|  FOOD PLACE| MARKETPLACE|
+----------+------------+------------+
only showing top 5 rows

+-----------+-----------------+---------+------------------------+---------------+
|delivery_id|delivery_order_id|driver_id|delivery_distance_meters|delivery_status|
+-----------+-----------------+---------+------------------------+---------------+
|    2174658|         68413340|     8378|                    5199|      DELIVERED|
|    2174660|         68414309|     2473|                     410|      DELIVERED|
|    2174661|         68416230|     7615|                    3784|      DELIVERED|
|    2174663|         68412721|     8378|                    5714|      DELIVERED|
|    2174675|         68414018|    10463|                    3746|      DELIVERED|
+-----------+-----------------+---------+------------------------+---------------+
only showing top 5 rows

+---------+------------+-----------------+
|driver_id|driver_modal|      driver_type|
+---------+------------+-----------------+
|      133|     MOTOBOY|LOGISTIC OPERATOR|
|      138|     MOTOBOY|        FREELANCE|
|      140|     MOTOBOY|        FREELANCE|
|      143|       BIKER|        FREELANCE|
|      148|     MOTOBOY|        FREELANCE|
+---------+------------+-----------------+
only showing top 5 rows

+------+---------------+--------------+---------+------------+-------------+
|hub_id|       hub_name|      hub_city|hub_state|hub_latitude|hub_longitude|
+------+---------------+--------------+---------+------------+-------------+
|     2|  BLUE SHOPPING|  PORTO ALEGRE|       RS| -30.0474148|    -51.21351|
|     3| GREEN SHOPPING|  PORTO ALEGRE|       RS| -30.0374149|    -51.20352|
|     4|   RED SHOPPING|  PORTO ALEGRE|       RS| -30.0219481|  -51.2083816|
|     5|  FUNK SHOPPING|RIO DE JANEIRO|       RJ| -23.0007498|   -43.318282|
|     8|GOLDEN SHOPPING|RIO DE JANEIRO|       RJ|  -22.921475|   -43.234774|
+------+---------------+--------------+---------+------------+-------------+
only showing top 5 rows

24/04/20 01:21:21 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------+--------+----------+----------------+-----------------+------------+------------+------------------+-------------------+------------------+--------------------+-----------------+-------------------+------------------+--------------------+---------------------+------------------+----------------------+--------------------------+-----------------------+----------------------+---------------------+---------------------------+------------------------+----------------------------+-------------------------+---------------------------------+-------------------------+-----------------------+
|order_id|store_id|channel_id|payment_order_id|delivery_order_id|order_status|order_amount|order_delivery_fee|order_delivery_cost|order_created_hour|order_created_minute|order_created_day|order_created_month|order_created_year|order_moment_created|order_moment_accepted|order_moment_ready|order_moment_collected|order_moment_in_expedition|order_moment_delivering|order_moment_delivered|order_moment_finished|order_metric_collected_time|order_metric_paused_time|order_metric_production_time|order_metric_walking_time|order_metric_expediton_speed_time|order_metric_transit_time|order_metric_cycle_time|
+--------+--------+----------+----------------+-----------------+------------+------------+------------------+-------------------+------------------+--------------------+-----------------+-------------------+------------------+--------------------+---------------------+------------------+----------------------+--------------------------+-----------------------+----------------------+---------------------+---------------------------+------------------------+----------------------------+-------------------------+---------------------------------+-------------------------+-----------------------+
|68405119|    3512|         5|        68405119|         68405119|    CANCELED|        62.7|               0.0|               NULL|                 0|                   1|                1|                  1|              2021|1/1/2021 12:01:36 AM|                 NULL|              NULL|                  NULL|                      NULL|                   NULL|                  NULL|                 NULL|                       NULL|                    NULL|                        NULL|                     NULL|                             NULL|                     NULL|                   NULL|
|68405123|    3512|         5|        68405123|         68405123|    CANCELED|        62.7|               0.0|               NULL|                 0|                   4|                1|                  1|              2021|1/1/2021 12:04:26 AM|                 NULL|              NULL|                  NULL|                      NULL|                   NULL|                  NULL|                 NULL|                       NULL|                    NULL|                        NULL|                     NULL|                             NULL|                     NULL|                   NULL|
|68405206|    3512|         5|        68405206|         68405206|    CANCELED|       115.5|               0.0|               NULL|                 0|                  13|                1|                  1|              2021|1/1/2021 12:13:07 AM|                 NULL|              NULL|                  NULL|                      NULL|                   NULL|                  NULL|                 NULL|                       NULL|                    NULL|                        NULL|                     NULL|                             NULL|                     NULL|                   NULL|
|68405465|    3401|         5|        68405465|         68405465|    CANCELED|        55.9|               0.0|               NULL|                 0|                  19|                1|                  1|              2021|1/1/2021 12:19:15 AM|                 NULL|              NULL|                  NULL|                      NULL|                   NULL|                  NULL|                 NULL|                       NULL|                    NULL|                        NULL|                     NULL|                             NULL|                     NULL|                   NULL|
|68406064|    3401|         5|        68406064|         68406064|    CANCELED|        37.9|               0.0|               NULL|                 0|                  26|                1|                  1|              2021|1/1/2021 12:26:25 AM|                 NULL|              NULL|                  NULL|                      NULL|                   NULL|                  NULL|                 NULL|                       NULL|                    NULL|                        NULL|                     NULL|                             NULL|                     NULL|                   NULL|
+--------+--------+----------+----------------+-----------------+------------+------------+------------------+-------------------+------------------+--------------------+-----------------+-------------------+------------------+--------------------+---------------------+------------------+----------------------+--------------------------+-----------------------+----------------------+---------------------+---------------------------+------------------------+----------------------------+-------------------------+---------------------------------+-------------------------+-----------------------+
only showing top 5 rows

+----------+----------------+--------------+-----------+--------------+--------------+
|payment_id|payment_order_id|payment_amount|payment_fee|payment_method|payment_status|
+----------+----------------+--------------+-----------+--------------+--------------+
|   4427917|        68410055|        118.44|        0.0|       VOUCHER|          PAID|
|   4427918|        68410055|        394.81|        7.9|        ONLINE|          PAID|
|   4427941|        68412721|        206.95|       5.59|        ONLINE|          PAID|
|   4427948|        68413340|          58.8|       1.59|        ONLINE|          PAID|
|   4427955|        68414018|          45.8|       0.92|        ONLINE|          PAID|
+----------+----------------+--------------+-----------+--------------+--------------+
only showing top 5 rows

+--------+------+-----------------+-------------+----------------+--------------+---------------+
|store_id|hub_id|       store_name|store_segment|store_plan_price|store_latitude|store_longitude|
+--------+------+-----------------+-------------+----------------+--------------+---------------+
|       3|     2|          CUMIURI|         FOOD|             0.0|          NULL|           NULL|
|       6|     3|PIMGUCIS DA VIVA |         FOOD|             0.0|   -30.0374149|      -51.20352|
|       8|     3|        RASMUR S |         FOOD|             0.0|   -30.0374149|      -51.20352|
|      53|     8|      PAPA SUCIS |         FOOD|             0.0|    -22.921475|     -43.234822|
|      54|     8|    VUZPI PAZZIS |         FOOD|             0.0|    -22.921475|     -43.234822|
+--------+------+-----------------+-------------+----------------+--------------+---------------+
only showing top 5 rows

In [15]:
import pandas as pd

folder= 'dataset/'
files = ['channels', 'deliveries', 'drivers', 'hubs', 'orders', 'payments', 'stores']
dfs = {}
for file in files:
    dfs[file] = pd.read_csv(folder+file+'.csv', encoding = 'latin1')
    print(dfs[file].shape)

(40, 3)
(378843, 5)
(4824, 3)
(32, 6)
(368999, 29)
(400834, 6)
(951, 7)

In [17]:
for file in files:
    print(dfs[file].head())

   channel_id channel_name channel_type
0           1  OTHER PLACE  OWN CHANNEL
1           2  PHONE PLACE  OWN CHANNEL
2           3  WHATS PLACE  OWN CHANNEL
3           4   FACE PLACE  OWN CHANNEL
4           5   FOOD PLACE  MARKETPLACE
   delivery_id  delivery_order_id  driver_id  delivery_distance_meters  \
0      2174658           68413340     8378.0                    5199.0
1      2174660           68414309     2473.0                     410.0
2      2174661           68416230     7615.0                    3784.0
3      2174663           68412721     8378.0                    5714.0
4      2174675           68414018    10463.0                    3746.0

  delivery_status
0       DELIVERED
1       DELIVERED
2       DELIVERED
3       DELIVERED
4       DELIVERED
   driver_id driver_modal        driver_type
0        133      MOTOBOY  LOGISTIC OPERATOR
1        138      MOTOBOY          FREELANCE
2        140      MOTOBOY          FREELANCE
3        143        BIKER          FREELANCE
4        148      MOTOBOY          FREELANCE
   hub_id         hub_name        hub_city hub_state  hub_latitude  \
0       2    BLUE SHOPPING    PORTO ALEGRE        RS    -30.047415
1       3   GREEN SHOPPING    PORTO ALEGRE        RS    -30.037415
2       4     RED SHOPPING    PORTO ALEGRE        RS    -30.021948
3       5    FUNK SHOPPING  RIO DE JANEIRO        RJ    -23.000750
4       8  GOLDEN SHOPPING  RIO DE JANEIRO        RJ    -22.921475

   hub_longitude
0     -51.213510
1     -51.203520
2     -51.208382
3     -43.318282
4     -43.234774
   order_id  store_id  channel_id  payment_order_id  delivery_order_id  \
0  68405119      3512           5          68405119           68405119
1  68405123      3512           5          68405123           68405123
2  68405206      3512           5          68405206           68405206
3  68405465      3401           5          68405465           68405465
4  68406064      3401           5          68406064           68406064

  order_status  order_amount  order_delivery_fee  order_delivery_cost  \
0     CANCELED          62.7                 0.0                  NaN
1     CANCELED          62.7                 0.0                  NaN
2     CANCELED         115.5                 0.0                  NaN
3     CANCELED          55.9                 0.0                  NaN
4     CANCELED          37.9                 0.0                  NaN

   order_created_hour  ...  order_moment_delivering  order_moment_delivered  \
0                   0  ...                      NaN                     NaN
1                   0  ...                      NaN                     NaN
2                   0  ...                      NaN                     NaN
3                   0  ...                      NaN                     NaN
4                   0  ...                      NaN                     NaN

   order_moment_finished  order_metric_collected_time  \
0                    NaN                          NaN
1                    NaN                          NaN
2                    NaN                          NaN
3                    NaN                          NaN
4                    NaN                          NaN

  order_metric_paused_time order_metric_production_time  \
0                      NaN                          NaN
1                      NaN                          NaN
2                      NaN                          NaN
3                      NaN                          NaN
4                      NaN                          NaN

  order_metric_walking_time order_metric_expediton_speed_time  \
0                       NaN                               NaN
1                       NaN                               NaN
2                       NaN                               NaN
3                       NaN                               NaN
4                       NaN                               NaN

  order_metric_transit_time order_metric_cycle_time
0                       NaN                     NaN
1                       NaN                     NaN
2                       NaN                     NaN
3                       NaN                     NaN
4                       NaN                     NaN

[5 rows x 29 columns]
   payment_id  payment_order_id  payment_amount  payment_fee payment_method  \
0     4427917          68410055          118.44         0.00        VOUCHER
1     4427918          68410055          394.81         7.90         ONLINE
2     4427941          68412721          206.95         5.59         ONLINE
3     4427948          68413340           58.80         1.59         ONLINE
4     4427955          68414018           45.80         0.92         ONLINE

  payment_status
0           PAID
1           PAID
2           PAID
3           PAID
4           PAID
   store_id  hub_id         store_name store_segment  store_plan_price  \
0         3       2            CUMIURI          FOOD               0.0
1         6       3  PIMGUCIS DA VIVA           FOOD               0.0
2         8       3          RASMUR S           FOOD               0.0
3        53       8        PAPA SUCIS           FOOD               0.0
4        54       8      VUZPI PAZZIS           FOOD               0.0

   store_latitude  store_longitude
0             NaN              NaN
1      -30.037415       -51.203520
2      -30.037415       -51.203520
3      -22.921475       -43.234822
4      -22.921475       -43.234822